{{#each pets as |pet|}}
{{!-- {{log pet}} -> this is a console log {{this is a comment}} --}}
<section data-id="{{pet.id}}" class="handles">
  <h2 class="name">
  {{limit pet.name 7}}
</h2>
<br>
<h5 class="pet-classes">Date of Birth:</h5>
<p>
{{#if pet.dob}}
  {{pet.dob}}
{{else}}
  DOB Unavailable!
{{/if}}
</p>
<h5 class="pet-classes">Species:</h5>
<p>
{{#if pet.species}}
  {{pet.species}}
{{else}}
  Species Unavailable
{{/if}}
</p>
  <h5 class="pet-classes">Breed:</h5>
  <p>
    {{#if pet.breed}}
      {{pet.breed}}
    {{else}}
      Breed Unavailable!
    {{/if}}
  </p>
  <h5 class="pet-classes">Favorite Toy:</h5>
  <p>
    {{#if pet.favorite_toy}}
      {{pet.favorite_toy}}
    {{else}}
      Toy Unavailable!
    {{/if}}
    <br>
    </p>
    {{> partial id=pet.id }}
    {{> partial-edit id=pet.id }}
</section>

{{/each}}
