<h2 class="handles">Your Pets</h2>
{{#each pets as |pet|}}
{{log pet}} {{!-- {{this is a comment}} --}}
<section data-id="{{pet.user.id}}" class="handles">
  <h3>
    {{limit pet.name 15}}
</h3>
<h6>Date of Birth:</h6>
<p>
{{#if pet.dob}}
  {{pet.dob}}
{{else}}
  No Breed available
{{/if}}
</p>
<h6>Species:</h6>
<p>
{{#if pet.species}}
  {{pet.species}}
{{else}}
  No Species available
{{/if}}
</p>
  <h6>Breed:</h6>
  <p>
    {{#if pet.breed}}
      {{pet.breed}}
    {{else}}
      No Breed available
    {{/if}}
  </p>
  <h6>Favorite Toy:</h6>
  <p>
    {{#if pet.favorite_toy}}
      {{pet.favorite_toy}}
    {{else}}
      No Favorite Toy available
    {{/if}}
  </p>
</section>

{{/each}}
