{{#each pets as |pet|}}
{{!-- {{log pet}} -> this is a console log {{this is a comment}} --}}
<section data-id="{{pet.id}}" class="handles">
  <h2 class="name">
  {{limit pet.name 15}}
</h2>
<br>
<h5 class="pet-classes">Pet ID:</h5>
<p>
  {{#if pet.id}}
    {{pet.id}}
  {{else}}
  No ID available
  {{/if}}
</p>

<h5 class="pet-classes">Date of Birth:</h5>
<p>
{{#if pet.dob}}
  {{pet.dob}}
{{else}}
  No Date of Birth available
{{/if}}
</p>
<h5 class="pet-classes">Species:</h5>
<p>
{{#if pet.species}}
  {{pet.species}}
{{else}}
  No Species available
{{/if}}
</p>
  <h5 class="pet-classes">Breed:</h5>
  <p>
    {{#if pet.breed}}
      {{pet.breed}}
    {{else}}
      No Breed available
    {{/if}}
  </p>
  <h5 class="pet-classes">Favorite Toy:</h5>
  <p>
    {{#if pet.favorite_toy}}
      {{pet.favorite_toy}}
    {{else}}
      No Favorite Toy available
    {{/if}}
    <br>
  </p>
    {{> partial }}
</section>

{{/each}}
